footer {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1%;
    text-align: center;
    background-color: #f6f8fc;
    font-size: 1rem;
    font-weight: 300;
  }
